/target
models
artifacts
local_artifacts
log
user_files
artifacts_user_files
TODO.md
keys
scripts/model.onnx
scripts/out.whatever
scripts/model.mpk
scripts/model_state_dict.txt
scripts/model_2.mpk
scripts/model_1.mpk
scripts/model3.onnx
scripts/model2.onnx
